openapi: 3.0.3
info:
  title: Exegesis Anonymous Telemetry API
  version: "1.0.0"
  description: >
    Opt-in, non-content-only telemetry ingestion for Exegesis. This API must reject any payloads
    containing disallowed fields (prompts, excerpts, filenames, paths, URLs, citekeys, or any free-form content).

servers:
  - url: https://telemetry.ballard.education/v1

paths:
  /telemetry/ingest:
    post:
      summary: Ingest anonymous aggregated telemetry
      operationId: ingestTelemetry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TelemetryEnvelope"
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  ok:
                    type: boolean
                  received_at:
                    type: string
                    format: date-time
                  schema_version:
                    type: integer
        "400":
          description: Invalid payload (schema validation failed)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Payload too large
        "429":
          description: Rate limited
        "500":
          description: Server error

  /telemetry/delete:
    post:
      summary: Delete telemetry associated with an install_id (optional)
      operationId: deleteInstallTelemetry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [install_id]
              properties:
                install_id:
                  type: string
                  format: uuid
      responses:
        "202":
          description: Accepted deletion request
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  ok:
                    type: boolean
                  received_at:
                    type: string
                    format: date-time
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limited
        "500":
          description: Server error

  /telemetry/proposals:
    post:
      summary: Ingest optional proposal summary telemetry (no proposal content)
      operationId: ingestProposalSummaryTelemetry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProposalSummaryEnvelope"
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  ok:
                    type: boolean
                  received_at:
                    type: string
                    format: date-time
        "400":
          description: Invalid payload (schema validation failed)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Payload too large
        "429":
          description: Rate limited
        "500":
          description: Server error

components:
  schemas:
    TelemetryEnvelope:
      type: object
      additionalProperties: false
      required:
        - schema_version
        - app
        - app_version
        - platform
        - os_version_major
        - hardware_bucket
        - install_id
        - timestamp_bucket
        - capability_flags
        - profile_mode_counts
        - metrics_aggregate
      properties:
        schema_version:
          type: integer
          example: 1
        app:
          type: string
          enum: ["exegesis-studio", "exegesis-engine"]
        app_version:
          type: string
          example: "1.0.0"
        platform:
          type: string
          enum: ["macos"]
        os_version_major:
          type: string
          example: "macOS 15"
        hardware_bucket:
          type: string
          enum:
            - "<=32GB"
            - "48-64GB"
            - "96-128GB"
            - "192-256GB"
            - "512GB+"
        install_id:
          type: string
          format: uuid
        project_count_bucket:
          type: string
          nullable: true
          enum: ["0", "1", "2-5", "6-20", "20+"]
        timestamp_bucket:
          type: string
          format: date
          example: "2026-02-23"

        capability_flags:
          type: object
          additionalProperties: false
          required: [streaming, tool_calling_native, vision_available]
          properties:
            streaming:
              type: boolean
            tool_calling_native:
              type: boolean
            vision_available:
              type: boolean

        profile_mode_counts:
          type: object
          additionalProperties: false
          required: [confidential_runs, online_runs]
          properties:
            confidential_runs:
              type: integer
              minimum: 0
            online_runs:
              type: integer
              minimum: 0

        proposals_included:
          type: boolean
          default: false

        metrics_aggregate:
          type: array
          items:
            $ref: "#/components/schemas/AggregatedCardMetrics"

    ProposalSummaryEnvelope:
      type: object
      additionalProperties: false
      required:
        - schema_version
        - app
        - app_version
        - platform
        - install_id
        - timestamp_bucket
        - proposal_summary
      properties:
        schema_version:
          type: integer
          example: 1
        app:
          type: string
          enum: ["exegesis-studio", "exegesis-engine"]
        app_version:
          type: string
          example: "1.0.0"
        platform:
          type: string
          enum: ["macos"]
        install_id:
          type: string
          format: uuid
        timestamp_bucket:
          type: string
          format: date
          example: "2026-02-23"
        proposal_summary:
          $ref: "#/components/schemas/ProposalBundleSummary"

    ProposalBundleSummary:
      type: object
      additionalProperties: false
      required:
        - proposal_count
        - proposed_card_type_ids
      properties:
        proposal_count:
          type: integer
          minimum: 0
        proposed_card_type_ids:
          type: array
          items:
            type: string

    AggregatedCardMetrics:
      type: object
      additionalProperties: false
      required:
        - card_type_id
        - workflow
        - rendered_count
        - interacted_count
        - duration_bucket_counts
      properties:
        card_type_id:
          type: string
          example: "GenericCard"
        workflow:
          type: string
          enum: ["context_building", "retrieval", "drafting", "revision", "export", "audit", "other"]
        rendered_count:
          type: integer
          minimum: 0
        interacted_count:
          type: integer
          minimum: 0

        action_counts_by_id:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
          description: >
            Map of allowlisted action IDs to counts. Server should validate keys against the allowlist.

        accept_count:
          type: integer
          minimum: 0
          nullable: true
        reject_count:
          type: integer
          minimum: 0
          nullable: true

        duration_bucket_counts:
          type: object
          additionalProperties: false
          required: ["<250ms", "250ms-1s", "1s-5s", "5s-20s", ">20s"]
          properties:
            "<250ms":
              type: integer
              minimum: 0
            "250ms-1s":
              type: integer
              minimum: 0
            "1s-5s":
              type: integer
              minimum: 0
            "5s-20s":
              type: integer
              minimum: 0
            ">20s":
              type: integer
              minimum: 0

    ErrorResponse:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message]
          properties:
            code:
              type: string
              example: "VALIDATION_ERROR"
            message:
              type: string
              example: "Payload failed schema validation."
            details:
              type: object
              additionalProperties: true
              nullable: true
